.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: lightgrey;
}

.flex-carousel {
    background-color: #bab19e;
    width: 960px;
    height: 540px;
}

.carousel-slide {
    margin: 10px;
}

.right-toolbar-container {
    flex-direction: column;
    justify-content: space-around;
}

.flex-tool {
    background-color: cornflowerblue;
    width: 50px;
    height: 50px;
    margin: 10px;
}

#status-bar {
    background-color: ghostwhite;
}

#position {
    background-color: oldlace;
}